[Unit]
Description=Run DNS Anycast Health Check every 10 seconds

[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=1s

[Install]
WantedBy=timers.target
